<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="vendor/autoload.php"
         backupGlobals="false"
         backupStaticAttributes="false"
         colors="true"
         verbose="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="false">
    <testsuites>
        <testsuite name="Auth Unit Tests">
            <directory>tests/Nano/Auth</directory>
        </testsuite>
        <testsuite name="Config Unit Tests">
            <directory>tests/Nano/Config</directory>
        </testsuite>
        <testsuite name="Container Unit Tests">
            <directory>tests/Nano/Container</directory>
        </testsuite>
        <testsuite name="Middleware Unit Tests">
            <directory>tests/Nano/Middleware</directory>
        </testsuite>
        <testsuite name="Routing Unit Tests">
            <directory>tests/Nano/Routing</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist>
            <directory>src</directory>
        </whitelist>
    </filter>
</phpunit>